.table {
  border-radius: 8px;
  overflow: hidden;

  th {
    text-transform: uppercase;
    font-size: 0.9rem;
  }

  td {
    vertical-align: middle;
  }
}

.img-thumbnail {
  border-radius: 6px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
}


.btn-custom {
  background-color: #007bff !important;  /* tu azul secundario */
  border-color: #007bff !important;
  color: #fff !important;
}

.btn-custom:hover {
  background-color: #0069d9 !important; /* tono más oscuro al hover */
  border-color: #0062cc !important;
}
